<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.mapper.HogeMapper">

	<insert id="create" parameterType="demo.dto.HogeDto">
		INSERT INTO hoge (id, str) VALUES (#{id}, #{str})
	</insert>

	<update id="edit" parameterType="demo.dto.HogeDto">
		UPDATE hoge SET str = #{str} WHERE id = #{id}
	</update>

	<delete id="remove" parameterType="demo.dto.HogeDto">
		DELETE FROM hoge WHERE id = #{id}
	</delete>

	<select id="find" resultType="demo.dto.HogeDto">
		SELECT * FROM hoge WHERE id = #{id}
	</select>

	<select id="findAll" resultType="demo.dto.HogeDto">
		SELECT * FROM hoge
	</select>

</mapper>
