@model library_system.Models.Entity.LibraryCard

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LibraryCard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CheckoutNumber" />
            <div class="form-group">
                <label asp-for="IsbnCode" class="control-label"></label>
                <input asp-for="IsbnCode" class="form-control" />
                <span asp-validation-for="IsbnCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckoutDate" class="control-label"></label>
                <input asp-for="CheckoutDate" class="form-control" />
                <span asp-validation-for="CheckoutDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnPlansDate" class="control-label"></label>
                <input asp-for="ReturnPlansDate" class="form-control" />
                <span asp-validation-for="ReturnPlansDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
